//Local variables
$error-color: #F44336;
$processing-color: #088ea5;
$background-color: rgb(240, 240, 240);
$button-background-color: #fff;
$button-text-color: #088ea5;
$button-continue-background-color: #088ea5;
$button-continue-text-color: #fff;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;

.App.checkout-address {
    background-color: $background-color;
}

.App-checkout-address {
    .form-error {
        display: inline-block;
        color: $error-color;
        padding: 20px 0;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        width: 100%;

        &.processing {
            color: $processing-color;
        }
    }

    form {
        padding: 0 10px;
        margin: auto;
        max-width: 746px;
    }

    a {
        text-decoration: none;
    }

    .submit-box {
        margin-top: 20px;
    }

    .buttons {
        max-width: 420px;
        text-align: center;
        margin: auto;
    }

    button {
        display: inline-block;
        height: 60px;
        width: 180px;
        border: 1px solid $button-text-color;
        border-radius: 5px;
        margin: 5px;
        font-size: 1.1em;
        background-color: $button-background-color;
        color: $button-text-color;
        text-transform: uppercase;
        vertical-align: middle;

        .icon {
            font-size: 1.2em;
            margin-bottom: 4px;
            vertical-align: middle;
        }
    }

    .button-continue {
        background-color: $button-continue-background-color;
        color: $button-continue-text-color;
        border: 0;
    }

    @media only screen and (min-width: $breakpoint-tablet) {
        .header {
            margin-top: 5%;
        }

        .complementary,
        .neighborhood,
        .city {
            input {
                width: 205px;
            }

        }

        .street_number {
            input {
                width: 62px;
            }
        }

        .state {
            select {
                width: 62px;
            }
        }

        .zipcode {
            input {
                width: 102px;
            }
        }

        .error {
            margin-left: 170px;
        }
    }
}
