// React credit-card variables
//$rccs-card-ratio: 1.2;
//$rccs-size: 200px;
//$rccs-name-font-size: 0.8em;

@import 'react-credit-cards/lib/styles.scss';

//Local variables
$error-color: #F44336;
$processing-color: #088ea5;
$background-color: rgb(240, 240, 240);
$button-background-color: #fff;
$button-text-color: #088ea5;
$button-end-background-color: #F44336;
$button-end-text-color: #fff;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;

.App.checkout-card {
    background-color: $background-color;
}

.App-checkout-card {

    .form-error {
        display: inline-block;
        color: $error-color;
        padding: 20px 0;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        width: 100%;

        &.processing {
            color: $processing-color;
        }
    }

    form {
        padding: 0 10px;
        margin: auto;
        max-width: 746px;

        .number {
            margin-top: 10px;
        }
    }

    a {
        text-decoration: none;
    }

    .submit-box {
        margin-top: 20px;
    }

    .buttons {
        max-width: 420px;
        text-align: center;
        margin: auto;
    }

    button {
        display: inline-block;
        height: 60px;
        width: 180px;
        border: 1px solid $button-text-color;
        border-radius: 5px;
        margin: 5px;
        font-size: 1.1em;
        background-color: $button-background-color;
        color: $button-text-color;
        text-transform: uppercase;
        vertical-align: middle;

        .icon {
            font-size: 1.2em;
            margin-bottom: 4px;
            vertical-align: middle;
        }
    }

    .button-end {
        background-color: $button-end-background-color;
        color: $button-end-text-color;
        border: 0;
    }

    @media only screen and (min-width: $breakpoint-tablet) {
        .header {
            margin-top: 5%;
        }

        .error {
            margin-left: 170px;
        }
    }

    @media only screen and (min-width: $breakpoint-desktop) {
        .rccs {
            display: inline-block;
            margin-top: 5%;
            width: 40%;
            vertical-align: top;
        }

        .card-data {
            display: inline-block;
            margin-top: 5%;
            width: 60%;
        }

        label {
            width: 134px;
        }

        .number,
        .name {
            input {
                width: 205px;
            }

        }

        .cvc,
        .expiry {
            input {
                width: 102px;
            }
        }

        .installments {
            select {
                width: 300px;
            }
        }

        .error {
            margin-left: 146px;
        }
    }
}
