$background-color: rgb(240, 240, 240);
$cart-item-background-color: #fff;
$cart-item-value-unit-price-color: #b2aaaa;
$cart-item-value-total-color: #088ea5;
$recipient-value-color: #819092;
$button-home-background-color: #088ea5;
$button-home-text-color: #fff;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;
$breakpoint-hi-desktop: 1024px;

.App.checkout-end {
    background-color: $background-color;
}

.App-checkout-end {
    a {
        text-decoration: none;
    }

    button {
        display: block;
        height: 35px;
        width: 35px;
        border: 0;
        border-radius: 5px;
        margin: 5px auto;
        font-size: 1.1em;
    }

    .order-title {
        padding: 10px;
        color: $cart-item-value-total-color;
        font-weight: bold;
        background-color: white;
    }

    .list {
        margin: auto;
        max-width: $breakpoint-hi-desktop;
    }

    .list-header {
        padding: 10px;
        margin-bottom: 10px;

        .cart {
            font-size: 1em;
            text-align: left;
            font-weight: bold;
        }

        .cart-quantity {
            display: none;
        }

        .cart-price {
            display: none;
        }
    }

    .item {
        background-color: $cart-item-background-color;
        padding-top: 10px;
        border-bottom: 10px solid $background-color;
    }

    .item-title {
        box-sizing: border-box;
        display: inline-block;
        padding: 0 10px 10px 10px;
        width: 100%;
        font-size: 1em;
        vertical-align: top;
    }

    .item-quantity {
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top;
        margin-top: 10px;

        .item-quantity-label {
            display: inline-block;
            width: 100%;
        }

        .item-quantity-value {
            margin-right: 10px;
            // border: 1px solid #E5E5E5;
            // border-radius: 2px;
            width: 38px;
            height: 30px;
            text-align: center;
        }
    }

    .item-value {
        display: inline-block;
        text-align: right;
        width: 70%;
        margin-top: 10px;

        .item-value-unit-price {
            font-size: 1em;
            color: $cart-item-value-unit-price-color;
            margin-right: 10px;
        }

        .item-value-total {
            font-size: 1.2em;
            color: $cart-item-value-total-color;
            margin-right: 10px;
        }
    }

    .total {
        padding: 10px;

        .total-title {
            display: none;
        }

        .total-quantity,
        .total-value {
            display: inline-block;
            font-size: 1.2em;
            color: $cart-item-value-total-color;
        }

        .total-quantity {
            width: 30%;
            text-align: center;
        }

        .total-value {
            width: 70%;
            text-align: right;
        }
    }

    .recipient {
        padding: 10px;

        .recipient-title {
            display: inline-block;
            width: 100%;
            font-size: 1.2em;
            color: $cart-item-value-total-color;
        }

        .recipient-actor {
            display: inline-block;
            width: 30%;
            margin-top: 10px;
        }

        .recipient-value {
            display: inline-block;
            width: 70%;
            font-size: 1.2em;
            color: $recipient-value-color;
            text-align: right;
            margin-top: 10px;
        }
    }

    .button-home {
        height: 60px;
        width: 300px;
        background-color: $button-home-background-color;
        color: $button-home-text-color;
        text-transform: uppercase;

        .button-home-icon {
            font-size: 1.2em;
            margin-bottom: 4px;
            vertical-align: middle;
        }
    }

    @media only screen and (min-width: $breakpoint-tablet) {
        .list-header {
            .cart {
                display: inline-block;
                width: 70%;
            }

            .cart-quantity {
                display: inline-block;
                width: 10%;
                font-size: 0.8em;
                text-align: center;
                font-weight: bold;
            }

            .cart-price {
                display: inline-block;
                width: 20%;
                text-align: right;
                font-size: 0.8em;
                font-weight: bold;
            }
        }

        .item-title {
            width: 70%;
        }

        .item-quantity {
            margin-top: 0;
            width: 10%;

            .item-quantity-label {
                display: none;
            }

            .item-quantity {
                margin-right: 0px;
            }
        }

        .item-value {
            margin-top: 0;
            padding-top: 0;
            width: 20%;
        }

        .total {
            .total-title {
                display: inline-block;
                width: 70%;
                font-size: 1.2em;
                color: $cart-item-value-total-color;
            }

            .total-quantity {
                width: 10%;
                text-align: right;
            }

            .total-value {
                width: 20%;
            }
        }

        .recipient {
            .recipient-actor {
                width: 80%;
                text-align: right;
            }

            .recipient-value {
                width: 20%;
            }
        }
    }
}
