$text-color: #fff0f0;
$background-color: #088ea5;
$cart-icon-count-background-color: #f44336;

.App-header {
    background-color: $background-color;
    color: $text-color;
    position: fixed;
    width: 100%;
    height: 52px;
    z-index: 1;

    h1 {
        a {
            color: inherit;
            text-decoration: inherit;
        }

        text-align: center;
        font-size: 2em;
        padding: 10px;
    }

    .home-icon {
        color: $text-color;
        float: left;
    }

    .shopping-cart-icon {
        color: $text-color;
        float: right;
    }

    .shopping-cart-icon-count-items {
        float: right;
        font-size: 0.5em;
        border-radius: 50%;
        width: 1.4em;
        background-color: $cart-icon-count-background-color;
        height: 1.3em;
        padding-top: 3px;

        &.zero {
            color: $background-color;
            background-color: $text-color;
        }
    }
}
