$text-color: #282c34;
$button-add-to-cart-background-color: #F44336;
$button-add-to-cart-text-color: #fff;
$button-product-details-background-color: #fff;
$button-product-details-text-color: #088ea5;

.App-product-details {
    .App-product {
        margin-top: 30px;
    }
}
