$breakpoint-low-mobile: 320px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;
$breakpoint-hi-desktop: 1024px;

.App-product-list {
    text-align: center;

    li {
        padding: 10px;
        width: 360px;
        display: inline-block;
        margin: 25px 0;
    }

    @media only screen and (min-width: $breakpoint-tablet) {
        li {
            width: 200px;
        }

        .App-product {
            img {
                height: 150px;
            }

            button {
                height: 50px;
                width: 150px;
                font-size: 1em;
            }
        }
    }

    @media only screen and (min-width: $breakpoint-desktop) {
        ul {
            margin: auto;
            width: $breakpoint-desktop;
        }
    }
}
