$background-color: rgb(240, 240, 240);
$cart-item-background-color: #fff;
$cart-item-value-unit-price-color: #b2aaaa;
$cart-item-value-total-color: #088ea5;
$button-checkout-background-color: #088ea5;
$button-checkout-text-color: #fff;
$button-remove-from-cart-icon-color: #897676;
$breakpoint-tablet: 768px;
$breakpoint-hi-desktop: 1024px;

.App.shopping-cart {
    background-color: $background-color;
}

.App-shopping-cart {

    img {
        width: 70px;
        height: 70px;
    }

    a {
        text-decoration: none;
    }

    button {
        display: block;
        height: 35px;
        width: 35px;
        border: 0;
        border-radius: 5px;
        margin: 5px auto;
        font-size: 1.1em;
    }

    .empty {
        padding: 0;
        text-align: center;
        line-height: calc(100vh - 52px);
        font-weight: bold;
        font-size: 1.2em;
        width: 100%
    }

    .list {
        margin: auto;
        max-width: $breakpoint-hi-desktop;
    }

    .list-header {
        padding: 10px;
        margin-bottom: 10px;

        .cart {
            font-size: 1em;
            text-align: left;
            font-weight: bold;
        }

        .cart-quantity {
            display: none;
        }

        .cart-price {
            display: none;
        }
    }

    .item {
        background-color: $cart-item-background-color;
        padding-top: 10px;
        border-bottom: 10px solid $background-color;
    }

    .item-image {
        display: inline-block;
        width: 30%;
        text-align: center;
        vertical-align: top;
    }

    .item-title {
        display: inline-block;
        width: 70%;
        font-size: 1em;
        vertical-align: top;
    }

    .item-quantity {
        display: inline-block;
        margin-top: 20px;
        text-align: center;
        width: 30%;
        vertical-align: top;

        .item-quantity-label {
            display: inline-block;
            width: 100%;
        }

        .item-quantity-input {
            margin-right: 10px;
            border: 1px solid #E5E5E5;
            border-radius: 2px;
            width: 38px;
            height: 30px;
            text-align: center;
        }

        .button-remove-from-cart {
            display: inline-block;
            vertical-align: middle;
            height: 35px;
            width: 40px;
        }

        .button-remove-from-cart-icon {
            color: $button-remove-from-cart-icon-color;
            font-size: 1.1em;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    }

    .item-value {
        display: inline-block;
        text-align: right;
        width: 70%;
        margin-top: 20px;
        padding-top: 15px;

        .item-value-unit-price {
            font-size: 1em;
            color: $cart-item-value-unit-price-color;
            margin-right: 10px;
        }

        .item-value-total {
            font-size: 1.4em;
            color: $cart-item-value-total-color;
            margin-right: 10px;
        }
    }

    .total {
        padding: 10px;

        .total-quantity,
        .total-value {
            display: inline-block;
            font-size: 1.4em;
            color: $cart-item-value-total-color;
        }

        .total-quantity {
            width: 30%;
            text-align: center;
        }

        .total-value {
            width: 70%;
            text-align: right;
        }
    }

    .button-checkout {
        height: 60px;
        width: 200px;
        background-color: $button-checkout-background-color;
        color: $button-checkout-text-color;
        text-transform: uppercase;

        .button-checkout-icon {
            font-size: 1.2em;
            margin-bottom: 4px;
            vertical-align: middle;
        }
    }

    @media only screen and (min-width: $breakpoint-tablet) {
        img {
            width: 100px;
            height: 100px;
        }

        .list-header {
            .cart {
                display: inline-block;
                width: 70%;
            }

            .cart-quantity {
                display: inline-block;
                width: 10%;
                font-size: 0.8em;
                text-align: center;
                font-weight: bold;
            }

            .cart-price {
                display: inline-block;
                width: 20%;
                text-align: right;
                font-size: 0.8em;
                font-weight: bold;
            }
        }

        .item-image {
            width: 20%;
        }

        .item-title {
            width: 50%;
        }

        .item-quantity {
            margin-top: 0;
            width: 10%;

            .item-quantity-label {
                display: none;
            }

            .item-quantity-input {
                margin-right: 0px;
            }

            .button-remove-from-cart {
                display: block;
            }
        }

        .item-value {
            margin-top: 0;
            padding-top: 0;
            width: 20%;
        }

        .total {
            .total-quantity {
                width: 80%;
                text-align: right;
            }

            .total-value {
                width: 20%;
            }
        }
    }
}
