//Local variables
$error-color: #F44336;
$border-color: #E5E5E5;
$border-color-focus: #088ea5;
$background-color: #fff;
$disabled-background-color: #e8e6e6;
$breakpoint-tablet: 768px;

.header {
    padding: 10px 0;
    margin-bottom: 10px;

    .title {
        font-size: 1em;
        text-align: left;
        font-weight: bold;
        text-align: center;
    }
}

input,
select {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: $background-color;

    &:focus {
        border-color: $border-color-focus;
    }

    &:disabled {
        background-color: $disabled-background-color;
    }
}

.has-error {
    border: 1px solid $error-color;
}

.error {
    display: block;
    color: $error-color;
    margin-bottom: 10px;
    font-size: 0.8em;
}

@media only screen and (min-width: $breakpoint-tablet) {
    label {
        display: inline-block;
        width: 158px;
        text-align: right;
        margin-right: 10px;
    }

    input,
    select {
        width: 410px;
    }
}
