$button-add-to-cart-background-color: #F44336;
$button-add-to-cart-text-color: #fff;
$button-product-details-background-color: #fff;
$button-product-details-text-color: #088ea5;

.App-product {
    text-align: center;
    max-width: 960px;
    margin: auto;

    img {
        max-width: 100%;
        height: 250px;
    }

    p {
        margin: 5px 0;
        font-weight: bold;
    }



    button {
        height: 60px;
        border: 0;
        border-radius: 5px;
        margin: 5px 0;
        padding: 10px;
        width: 200px;
        font-size: 1.1em;
        text-transform: uppercase;
    }

    .product-title {
        font-size: 1.1em;
        padding: 20px;
        height: 50px;
        overflow: hidden;
    }

    .product-description {
        text-align: left;
        padding: 0 20px 20px 20px;

        b {
            font-weight: bold;
        }

        p {
            font-weight: normal;
        }
    }

    .product-unit-price {
        font-size: 1.6em;
    }

    .product-vendor-id-label {
        font-size: 0.9em;
        font-weight: normal;
        text-transform: uppercase;
    }

    .product-vendor-id-code {
        font-size: 0.8em;
        font-weight: normal;
    }

    .buttons-wrapper {
        width: 200px;
        margin: auto;
    }

    .button-product-details {
        background-color: $button-product-details-background-color;
        color: $button-product-details-text-color;
        border: 1px solid $button-product-details-text-color;
    }

    .button-add-to-cart {
        background-color: $button-add-to-cart-background-color;
        color: $button-add-to-cart-text-color;
    }

    .button-add-to-cart-icon {
        font-size: 1.2em;
        margin-bottom: 4px;
        vertical-align: middle;
    }
}
